body{
  background-color: #FEF9EF;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

}


.outer{
  background-color: #98ACF8;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 80vw;
  height: 80vh;
  padding: 40px 40px;

  display: flex;
  align-items: center;
  justify-content: center;


}

.inner{
  background-color: #F4F9F9;
  width: 20vw;
  height: 60vh;

  padding: 60px 60px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;



}

.image{

  position: absolute;
  top: 89px;


  width: 428px;
  height: 160px;

  border-radius: 10px 10px 0 0;
}

h2{
  position: absolute;
  top: 240px;
  font-weight: bold;
  font-family: "Teko" sans-serif;
  position: absolute;

}

.p1{

  position: absolute;
  top: 300px;
  width: 250px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

.p2{
  position: absolute;
  top: 30px;
  left: 60px;



}

h3{
  position: absolute;
  left: 60px;

}

a{
  position: absolute;
  top : 20px;
  right: 10px;
  float: left;
}

.anual-plan{
  position: absolute;
  top: 400px;
  border-radius: 10px;
  background-color: #EAF6F6;
  width: 300px;
  height: 70px;
  text-align: center;


}

.music-icon{
  position: absolute;
  top: 20px;
  left: 10px;

  border-radius: 50%;

  width: 20px;
  height: 20px;
}

button{
  position: absolute;
  top: 520px;
  width: 300px;
  height: 40px;
  line-height: 40px;
  background-color: #3498db;
  border: 1px solid #3498db;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  display: block;
  text-align: center;
  font-size: 16px;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.h3-cancle-order{
  position: absolute;
  top: 560px;
  left: 46%;
  color: #181D31;
  cursor: pointer;

}
